<div class="card text-center my-3 col-md-4 col-xs-12" style="max-width:30%; min-width:18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= movie.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= movie.release_year %></h6>
    <p class="card-text"><%= movie.country.name %></p>
    <%= link_to 'View', movie_path(movie), class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_movie_path(movie), class: 'btn btn-warning' %>
    <%= link_to 'Delete', movie_path(movie), class: 'btn btn-danger', method: :delete, data: { confirm: "Really want to delete?" } %>

  </div>
</div>

