<%= form_with model: @movie, local: true, html: { style: "width:500px; margin: 0 auto;" } do |form| %>

<% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: 'A new movie in here please', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :director_id %>
        <%= form.collection_select(:director_id, Director.all, :id, :name, class: 'form-control') %>
      </div>

      <div class="form-group">
        <%= form.label :release_year %>
        <%= form.number_field :release_year, min: 1888, max: 2021, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :rating %>
        <%= form.number_field :rating, min: 0, max: 10, class: 'form-control' %>
      </div>
      <%# we can make this a dropdown for the country listing? %>
      <div class="form-group">
        <%= form.label :length %>
        <%= form.text_field :length, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :country_id %>
        <%= form.collection_select(:country_id, Country.all, :id, :name, class: 'form-control') %>
      </div>



      <div class="form-group">
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
      </div>
      
      <div class="form-group col-md-6">
        <%= form.submit class: 'btn btn-primary mb-2' %>
      </div>
  


<% end %>

<div style = "height:75px"></div>




